#title {
    background-color: #FF6363;
    color: white;
}

.container-fluid {
    padding: 3% 15% 7%;
}


h1 {
    font-family: 'Montserrat-bold', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-family: "Montserrat-bold";
    font-size: 3rem;
}

h3 {
    font-family: "Montserrat-bold";
    font-size: 1.5rem;
    line-height: 1.5;

}

p {
    color: #8f8f8f;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/*Navigation bar*/

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-light", sans-serif;
}

/*download buttons*/

.download-button {
    margin: 5% 3% 5% 0;
    font-family: "Montserrat-thin", sans-serif;
}

/*title image*/

.title-image {
    width: 55%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/*features section*/

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #FC4F4F;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #FF6363;
}

/*testimonial section*/

#testimonials {

    text-align: center;
    background-color: #FC4F4F;
    color: white;
}

.testi-img {
    width: 10%;
    border-radius: 100%;
    margin: 40px;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 40px;
}

#press {
    background-color: #FC4F4F;
    text-align: center;
    padding-bottom: 2%;
}

/*pricing col*/

#pricing {
    padding: 100px;
    text-align: center;
}

#title {
    text-align: center;
}

.pricing-col {
    padding: 3% 2%;
}

.press-logo {
    width: 10%;
    margin: 20px 20px 40px;
}

.carousel-item {
    padding: 7% 15%;
}

@media (max-width: 1028px ) {
    .title-image {
        position: static;
        transform: rotate(0);
    }

}

#cta {
    text-align: center;
    background-color: #FC4F4F;
    color: #fff;
    padding: 7% 15%;
}

.colorcha {
    font-family: 'Montserrat-bold', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

#footer {
    padding: 7% 15% 0;
    background-color: #fff;
    text-align: center;
}

.btn-ss {
    margin: 20px 10px;
}